{% extends 'main/layout.html' %}
{% load static %}

{% block layout_title %} WINNER {% endblock %}

{% block layout_body %}

<div class="container">
  <div class="text-center">
    <h2>WINNER!: {{ winner.name }}</h2>
    {% if winner.picture %}
    <img src="{{ winner.picture }}" class="img-fluid" style="width: 300px;" alt="Pokemon 1">
    {% else %}
    <img src="{% static 'main/img/empty.svg' %}" class="img-fluid" style="width: 300px;" alt="Pokemon 1">
    {% endif %}
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div id="battleLog" class="bg-light p-3">
        {% for log in battle_logs %}
        <p>{{ log }}</p>
        {% endfor %}
        <!-- Здесь будут отображаться логи боя -->
      </div>
    </div>
  </div>
</div>



{% endblock %}