{% extends 'main/layout.html' %}
{% load static %}

{% block layout_title %} Каталог покемонов {% endblock %}

{% block layout_content_navbar%}

{% include 'main/links_bar.html' %}
{% include 'main/search_bar.html' %}

{% endblock %}

{% block layout_body %}
<div class="container text-center">
    {{ page_pokemons }}
    <div class="row">
        <div class="col">
            {% if page_pokemons.has_next %}
            <a href="?page={{ page_pokemons.next_page_number }}" style="text-decoration: none;"> <button type="button" class="btn btn-info">next
                    ></button> </a>
            <a href="?page={{ page_pokemons.paginator.num_pages }}" style="text-decoration: none;"> <button type="button" class="btn btn-info">last
                    >></button>
                </button></a>
            {% endif %}
        </div>

        <div class="col-md-auto">
            <div class="row justify-content-between">
                {% for pokemon_data in pokemons_data %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="{% url 'pokemon_detail' pokemon_data.name %}">
                                {% if pokemon_data.picture %}
                                <img src="{{pokemon_data.picture}}" class="img-fluid  mx-auto d-block rounded-start"
                                    alt="..." style="width: 200px;">
                                {% else %}
                                <img src="{% static 'main/img/empty.svg' %}"
                                    class="img-fluid  mx-auto d-block rounded-start" alt="...">
                                {% endif %}
                            </a>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a href="{% url 'pokemon_detail' pokemon_data.name %}" style="text-decoration: none;">
                                    <h5 class="card-title">{{ pokemon_data.name }}</h5>
                                </a>
                                <p class="card-text">HP: {{ pokemon_data.hp }}</p>
                                <p class="card-text">Attack: {{ pokemon_data.attack }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col">
            {% if page_pokemons.has_previous %}

            <a href="?page={{ page_pokemons.previous_page_number }}" style="text-decoration: none;"><button type="button" class="btn btn-info">
                    < previous </button> </a>
            <a href="?page=1" style="text-decoration: none;"> <button type="button" class="btn btn-info">
                    << first</button> </a>



            {% endif %}
        </div>
    </div>
</div>


{% endblock %}